<head>
		<title>$pageTitle :: $siteTitle</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Indigenous Midwifery,Traditional Birth,Ayurveda,Dais,Labor,Birth,Postpartum,Yoni,North India,Reproductive Health,Childbirth" />
		
		#if($googleSiteVerification)
			<meta name="google-site-verification" content="AvBmY5U6LDj_kINXpJ9GXgvqFLhcmEDU66mw9UEk53I" />
		#end
		
		<link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/assets/css/matrika.css" />
		<link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/assets/css/superfish.css" />
		
		<script type="text/javascript" src="/assets/js/matrika.js"></script> 
		<script type="text/javascript" src="/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/assets/js/superfish.js"></script>
		
		<script type="text/javascript">
	        <!--
	        $(document).ready(function(){
	        $(".rounded").each(function(){
		        $(".rounded").corner("round");
	        });
	        $(".nav")
	        .superfish({
		        animation : { opacity:"show",height:"show"}
	        })
	        .find(">li:has(ul)")
		        .mouseover(function(){
			        $("ul", this).bgIframe({opacity:false});
		        })
		        .find("a")
			        .focus(function(){
				        $("ul", $(".nav>li:has(ul)")).bgIframe({opacity:false});
			        });
            });
	        // -->
    	</script>
	</head>