<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
		</layout>
	</appender>

	<appender name="FILE_APPENDER" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="D:/deploy/matrika/logs/matrika.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}] %-5p %m%n" />
		</layout>
	</appender>

	<logger name="org.matrika" additivity="false">
		<level value="debug" />
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<logger name="org.apache" additivity="false">
		<level value="error" />
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="error" />
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<logger name="jerry" additivity="false">
		<level value="error" />
		<appender-ref ref="FILE_APPENDER" />
	</logger>

	<root>
		<priority value="error" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>